.vs/SpaceShipPractice/v15/.suo
*.db
*.ipch
*.make
bin/data/.gitkeep
*.dll
*.exp
*.ilk
*.lib
*.pdb
*.rc
*.obj
*.tlog
*.log
*.vcxproj
*.filters
*.user
MoonLanderGitHub/Lab6SpatialPartioning/bin/data/geo/terrain2/bin/data/.gitkeep
MoonLanderGitHub/Lab6SpatialPartioning/bin/data/geo/terrain2/.vs/terrain2/v14/.suo
